<h1>Listado de Posts</h1>

<a routerLink = "/post/create" routerLinkActive="active" class="btn btn-success mt-2 mb-2">Crear Post</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Cuerpo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
      <td>
        <a [routerLink]="[post.id]" routerLinkActive="active" class="btn btn-cyan mt-2 mb-2">ver</a>
        <a [routerLink]="[]" routerLinkActive="active" class="btn btn-azul mt-2 mb-2">Editar</a>
        <a [routerLink]="[]" routerLinkActive="active" class="btn btn-rojo mt-2 mb-2">Delete</a>
      </td>
    </tr>
  </tbody>
</table>